In [1]:
import pandas as pd

In [2]:
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv')
df_data = pd.read_csv('fifa_worldcup_data.csv')

In [3]:
df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

In [4]:
df_data[df_data['home'].isnull()]

    home score away  year
1    NaN   NaN  NaN  1991
3    NaN   NaN  NaN  1991
5    NaN   NaN  NaN  1991
7    NaN   NaN  NaN  1991
9    NaN   NaN  NaN  1991
..   ...   ...  ...   ...
571  NaN   NaN  NaN  2019
573  NaN   NaN  NaN  2019
575  NaN   NaN  NaN  2019
577  NaN   NaN  NaN  2019
579  NaN   NaN  NaN  2019

[294 rows x 4 columns]

In [5]:
df_data['home']

0                  China
1                    NaN
2              Dinamarca
3                    NaN
4                Noruega
             ...
579                  NaN
580            Cristiane
581          Alex Morgan
582    Cristiana Girelli
583             Sam Kerr
Name: home, Length: 584, dtype: object

In [6]:
df_data = df_data.iloc[:579]
print(df_data)

               home                   score           away  year
0             China               4:0 (3:0)        Noruega  1991
1               NaN                     NaN            NaN  1991
2         Dinamarca               3:0 (3:0)  Nueva Zelanda  1991
3               NaN                     NaN            NaN  1991
4           Noruega               4:0 (3:0)  Nueva Zelanda  1991
..              ...                     ...            ...   ...
574    Países Bajos  1:0 (0:0, 0:0) (t. s.)         Suecia  2019
575             NaN                     NaN            NaN  2019
576      Inglaterra               1:2 (1:2)         Suecia  2019
577             NaN                     NaN            NaN  2019
578  Estados Unidos               2:0 (0:0)   Países Bajos  2019

[579 rows x 4 columns]

In [7]:
df_data.dropna(inplace=True)

In [9]:
df_fixture.dropna(inplace=True)

In [ ]:
df_fixture

In [ ]:
print(df_data)

               home                   score            away  year
0             China               4:0 (3:0)         Noruega  1991
2         Dinamarca               3:0 (3:0)   Nueva Zelanda  1991
4           Noruega               4:0 (3:0)   Nueva Zelanda  1991
6             China               2:2 (1:1)       Dinamarca  1991
8             China               4:1 (3:0)   Nueva Zelanda  1991
..              ...                     ...             ...   ...
570        Alemania               1:2 (1:1)          Suecia  2019
572      Inglaterra               1:2 (1:2)  Estados Unidos  2019
574    Países Bajos  1:0 (0:0, 0:0) (t. s.)          Suecia  2019
576      Inglaterra               1:2 (1:2)          Suecia  2019
578  Estados Unidos               2:0 (0:0)    Países Bajos  2019

[286 rows x 4 columns]

In [ ]:
df_data[df_data['score'].isnull()]

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [ ]:
df_data.drop_duplicates(inplace=True, ignore_index=True)
df_data

In [ ]:
# verify number of matches per competition
years = [1991,1995,1999,2003,2007,2011,2015,2019]

In [ ]:
for year in years:
    print(year, len(df_data[df_data['year']==year]))

In [ ]:
df_data['score'] = df_data['score'].str.replace('\([^()]*\)', '', regex=True)
df_data

               home  score            away  year
0             China   4:0          Noruega  1991
1         Dinamarca   3:0    Nueva Zelanda  1991
2           Noruega   4:0    Nueva Zelanda  1991
3             China   2:2        Dinamarca  1991
4             China   4:1    Nueva Zelanda  1991
..              ...    ...             ...   ...
281        Alemania   1:2           Suecia  2019
282      Inglaterra   1:2   Estados Unidos  2019
283    Países Bajos  1:0            Suecia  2019
284      Inglaterra   1:2           Suecia  2019
285  Estados Unidos   2:0     Países Bajos  2019

[286 rows x 4 columns]

In [ ]:
df_data[df_data['year']==2007]

                home  score             away  year
116         Alemania  11:0         Argentina  2007
117            Japón   2:2        Inglaterra  2007
118        Argentina   0:1             Japón  2007
119       Inglaterra    0:0         Alemania  2007
120         Alemania   2:0             Japón  2007
121       Inglaterra   6:1         Argentina  2007
122   Estados Unidos   2:2   Corea del Norte  2007
123          Nigeria   1:1            Suecia  2007
124           Suecia   0:2    Estados Unidos  2007
125  Corea del Norte   2:0           Nigeria  2007
126          Nigeria   0:1    Estados Unidos  2007
127  Corea del Norte   1:2            Suecia  2007
128            Ghana   1:4         Australia  2007
129          Noruega   2:1            Canadá  2007
130           Canadá   4:0             Ghana  2007
131        Australia   1:1           Noruega  2007
132          Noruega   7:2             Ghana  2007
133        Australia   2:2            Canadá  2007
134    Nueva Zelanda   0:5            Brasil  2007
135            China   3:2         Dinamarca  2007
136        Dinamarca   2:0     Nueva Zelanda  2007
137           Brasil   4:0             China  2007
138           Brasil   1:0         Dinamarca  2007
139            China   2:0     Nueva Zelanda  2007
140         Alemania   3:0   Corea del Norte  2007
141   Estados Unidos   3:0        Inglaterra  2007
142          Noruega   1:0             China  2007
143           Brasil   3:2         Australia  2007
144         Alemania   3:0           Noruega  2007
145   Estados Unidos   0:4            Brasil  2007
146          Noruega   1:4    Estados Unidos  2007
147         Alemania   2:0            Brasil  2007
148        Dinamarca   2:4            Suecia  2007
149           Suecia   3:1         Dinamarca  2007

In [ ]:
# splitting score columns into home and away goals and dropping score column
df_data[['HomeGoals', 'AwayGoals']] = df_data['score'].str.split(':', expand=True)
df_data.drop('score', axis=1, inplace=True)

In [ ]:
df_data

               home            away  year HomeGoals AwayGoals
0             China         Noruega  1991         4        0
1         Dinamarca   Nueva Zelanda  1991         3        0
2           Noruega   Nueva Zelanda  1991         4        0
3             China       Dinamarca  1991         2        2
4             China   Nueva Zelanda  1991         4        1
..              ...             ...   ...       ...       ...
281        Alemania          Suecia  2019         1        2
282      Inglaterra  Estados Unidos  2019         1        2
283    Países Bajos          Suecia  2019         1       0
284      Inglaterra          Suecia  2019         1        2
285  Estados Unidos    Países Bajos  2019         2        0

[286 rows x 5 columns]

In [ ]:
df_data.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 
                                   'year':'Year'}, inplace=True)
df_data = df_data.astype({'HomeGoals': int, 'AwayGoals':int, 'Year': int})

In [ ]:
# creating new column "totalgoals"
df_data['TotalGoals'] = df_data['HomeGoals'] + df_data['AwayGoals']
df_data

           HomeTeam        AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0             China         Noruega  1991          4          0           4
1         Dinamarca   Nueva Zelanda  1991          3          0           3
2           Noruega   Nueva Zelanda  1991          4          0           4
3             China       Dinamarca  1991          2          2           4
4             China   Nueva Zelanda  1991          4          1           5
..              ...             ...   ...        ...        ...         ...
281        Alemania          Suecia  2019          1          2           3
282      Inglaterra  Estados Unidos  2019          1          2           3
283    Países Bajos          Suecia  2019          1          0           1
284      Inglaterra          Suecia  2019          1          2           3
285  Estados Unidos    Países Bajos  2019          2          0           2

[286 rows x 6 columns]

In [ ]:
print(df_data[df_data['HomeTeam'].str.contains('Colombia')])
print(df_data[df_data['AwayTeam'].str.contains('Colombia')])

     HomeTeam AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
162  Colombia   Suecia  2011          0          1           1
213  Colombia   México  2015          1          1           2
            HomeTeam  AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
165   Estados Unidos  Colombia  2011          3          0           3
167  Corea del Norte  Colombia  2011          0          0           0
214          Francia  Colombia  2015          0          2           2
217       Inglaterra  Colombia  2015          2          1           3
224   Estados Unidos  Colombia  2015          2          0           2

In [11]:
df_data.to_csv('clean_fifa_worldcup_matches.csv',index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv',index=False)